.vscode/
*cache
__pycache__/
venv
snorlax/.DS_Store
*.egg-info
dist/
build/
experimental/
.idea/

# iPython Notebook files
.ipynb_checkpoints/
*.ipynb

# ignore credentials files/or environment variables
credentials/
*.logs
secrets.toml

# Project specific files
*.env
*.json
.flaskenv*
!.env.project
!.env.vault
*.db